# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor/
logs/
.idea/

.DS_Store

# dotenv file
.env

# Go workspace file
go.work

sharepal-360bc-firebase-adminsdk-fbsvc-7d71b5a48d.json
